html, body {
  overflow-x: hidden;
  background: #FFF;
  font-size: 15px;
  font-family: 'Gt Walsheim Regular', sans-serif;
  letter-spacing: 0.5px;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  text-shadow: 0 0 1px rgba(0,0,0,.01);
}

.clearfix:after, .clearfix:before {
    display: table;
    content: "";
    line-height: 0;
}

.container {
  width: 100%;
  padding: 0 47px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 100%;
  /*margin: 0 0 0 150px;*/
  float: left;
  clear: both;
  padding: 42px 0;
  border-bottom: 1px solid #EEE;
}

.header-logo {
  position: relative;
  margin: 17px 0 0 0;
  width: 186px;
  float: left;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.nav-bar {
  margin-left: 200px;
  /*float: left;
  display: inline-block;*/
}

.menu, .socials-bar {
  list-style: none;
}

.item-menu {
  float: left;
  display: inline-block;
}

a {
  text-decoration: none;

}

.link-bar {
  display: inline-block;
  padding: 26px 9px 20px 9px;
  font-size: 16px;
  color: #4d4d4d;
  border-bottom: 4px solid #EEE;
}

.link-bar:hover {
  color: #3DAFCA;
}

.text-right {
  text-align: right;
}

.social-links, .social-icons, .socials-bar {
  display: inline-block;
  padding: 32px 13px 20px 13px;
  font-size: 18px;
  color: #ccc;
}

.socials {
  width: 78px;
  height: 69px;
}

.socials-bar {
  float: right;
}

.social-links:hover {
  color: #3DAFCA;
}

.contact-head {
  margin: 28px 0 0 28px;
  color: #4d4d4d;
  display: block;
  width: 129px;
  height: 34px;
}

.phone {
  font-size: 18px;
  font-weight: bold;
  color: #4d4d4d;
}

.phone:hover {
  color: #3DAFCA;
}

.email {
  font-weight: lighter;
  font-size: 13px;
  margin: 4px 0 0 0;
  color: grey;
}

.email:hover {
  color: #3DAFCA;
}

.home {
  margin: 42px 0 0 0;
}

.container {
  width: 100%;
  padding: 0 47px;
  box-sizing: border-box;
}

.call {
  margin: 20px 0 0 0;
}

.title-1 {
  line-height: 50px;
  font-weight: bold;
}

.big1 {
  font-size: 100px;    letter-spacing: -7px;
}

.heart:before {
  content: "\f004";
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.icon {
  color: #E14D64;
}

.small1 {
  font-size: 60px;    letter-spacing: -4px;
}

.features-box {
  position: relative;
  margin: 73px 0 0 0;
  border: 1px solid #e6e6e6;
  border-top: 0;
  overflow: hidden;
  width: 100%;
}

.box {
  width: 25%;
  position: relative;
  padding: 43px;
  border-top: 5px solid #e6e6e6;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.grey-box {
  border-color: #8995A2;
}

.blue-box {
  border-color: #3DAFCA;
}

.box-title {
  font-size: 35px;
  color: #4d4d4d;
}

.box-desc {
  font-size: 15px;
  line-height: 18px;
  font-weight: lighter;
  margin-top: 15px;
  color: grey;
}

.box-border {
  width: 1px;
  height: 200%;
  position: absolute;
  top: 0;
  right: 0;
  background: #e6e6e6;
}

.customers {
  padding: 50px 0;
}

h1>.customers-t1 {
  font-weight: lighter;
  text-align: center;
  margin: 0;
}

.customers-text {
  color: #999;
  margin-top: 15px;
  text-align: center;
}

footer {
  padding: 35px 10px;
  text-align: center;
  background: #5D6875;
  display: inline-block;
}

.footer-table {

}
